.home-container {
  height: 100vh;
  width: 100vw;

  ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    flex: 0 0 33.333333%;
    text-decoration: none;
  }
}